.edit
{
    float: right;
    margin-top: -18px;
}
.longtext{
    margin-bottom: 4%;
}
.containerDiv
{
    padding-bottom : 50px;
}
.absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}
.SysInfo{
    font-size: 0.9rem;
    min-height: 36px;
}
.SysInfoOwner{
    font-size: 0.9rem;
    min-height: 26px;
}
.longtext2{
    min-height: 40px;
}