.title:hover{color: var(--indigo-7);cursor: pointer;}
.announcements:nth-child(odd){
    padding-right: 12px;
}
.announcements:nth-child(even){
    padding-left: 12px;
}
.announcements:nth-child(3),.announcements:nth-child(4){
    margin-top: var(--space-5);
}
.announcement-details{max-width: 100%!important;}
@media only screen and (min-width: 769px) and (max-width:1023px){
    .announcements:nth-child(odd){
        padding-right: 0px;
    }
    .announcements:nth-child(even){
        padding-left: 0px;
    }
}
@media only screen and (min-width: 1px) and (max-width:768px){
    .announcements:nth-child(2),.announcements:nth-child(3),.announcements:nth-child(4){
        margin-top: var(--space-5);
    }
    .announcements:nth-child(odd){
        padding-right: 0px;
    }
    .announcements:nth-child(even){
        padding-left: 0px;
    }
}